@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/************************
Custom CSS
***********************/
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #0275d8;
}

.spinner {
    border: 3px solid transparent;
    border-radius: 3px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 55%;
    width: 90px;
    height: 90px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    border: 2px dotted #fff;
    border-top-color: #000;
    animation: spinner .41s linear infinite;
}

@-webkit-@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
/************************
Topbar CSS
***********************/
#header .topbar-socials .left-info .email-info {
    border-right: 1px solid rgba(250, 250, 250, 0.945);
    padding: 0px 5px;
    margin: 0px 5px;
}

#header .topbar-socials .left-info span {
    font-size: 14px;
}
/************************
Navbar CSS
***********************/
#header nav {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px #4444;
}

#header .nav-item .nav-link {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

#header .nav-item .active {
    font-weight: 600;
}

#header .nav-item .nav-link:hover {
    font-size: 15px;
    color: #0275d8;
    cursor: pointer;
}

#header .navbar-toggler {
    outline: none !important;
    border: none !important;
    color: #000 !important;
    border-radius: none !important;
    box-shadow: none !important;
}

@media(max-width: 768px) {
    #header nav {
        position: absolute;
        z-index: 99999;
        width: 100%;
    }

    #header .nav-item .nav-link {
        border-bottom: 1px solid rgba(78, 15, 15, 0.945);
    }
}

/************************
Hero Section CSS
***********************/
.hero {
    width: 100%;
    height: 90vh;
    background-color: #0275d8;
    overflow: hidden;
    padding: 0;
}

.hero .carousel-item img {
    width: 100%;
    height: 90vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .carousel-item::before {
    content: '';
    background-color: #03294a;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .6;
}

.hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero .carousel-content {
    text-align: center;
}

.hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}


.hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}



.hero .carousel-control-prev,
.hero .carousel-control-next {
    width: 8%;
    opacity: 1;
}

.hero .bi-chevron-right,
.hero .bi-chevron-left {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}

.hero .bi-chevron-right:hover,
.hero .bi-chevron-left:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

.hero .carousel-indicators li {
    cursor: pointer;
}

.hero .btn-services,
.hero .btn-contact {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    background-color: #0275d8;
    border: 2px solid #0275d8;
}

.hero .btn-services:hover,
.hero .btn-contact:hover {
    background: #fff;
    color: #0275d8;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 28px;

    }

    .wrap-about h2 {
        margin-top: 60px;
    }
}

@media (min-width: 1024px) {
    .hero p {
        width: 50%;
    }

    .hero .carousel-control-prev,
    .hero .carousel-control-next {
        width: 5%;
    }
}

/************************
Service Section CSS
***********************/
.service-section {
    background: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 80px;
}

.services {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
    width: 100%;
    background-color: #fff;
    padding: 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services.noborder-left {
    border-left: none;
}

.services.noborder-bottom {
    border-bottom: none;
}

@media (max-width: 991.98px) {
    .services {
        border-left: none;
    }

    .services.noborder-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
}

.services .icon span {
    font-size: 45px;
    color: #0d6efd !important;
}

.services h3 {
    font-size: 20px;
    font-weight: 700;
}

.services:hover {
    box-shadow: 0px 0px 27px -10px rgba(0, 0, 0, 0.75);
}

/************************
Offers Section CSS
***********************/
.offers-item {
    width: 100%;
    border: 4px solid #d1ebf9;
}

@media (min-width: 768px) {
    .offers-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .offers-item {
        margin-bottom: 30px;
    }
}

.offers-item .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
}

.offers-item .text .heading {
    font-size: 19px;
    margin-bottom: 16px;
}

.offers-item .text .heading a {
    color: #000000;
}

.offers-item .text .heading a:hover,
.offers-item .text .heading a:focus,
.offers-item .text .heading a:active {
    color: #1b9ce3;
}

.offers-item .text .meta-chat {
    color: #b3b3b3;
}

.offers-item .text .read {
    color: #000000;
    font-size: 14px;
}

.offers-item .meta-date {
    display: inline-block;
    background: #1b9ce3;
}

.offers-item .meta-date span {
    display: block;
    color: #fff;
}

.offers-item .meta-date .day {
    font-weight: 700;
    font-size: 20px;
}

.offers-item .meta-date .mos,
.offers-item .meta-date .yr {
    font-size: 13px;
}

.offers-item .meta>div {
    display: block;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

.offers-item .meta>div a {
    color: #b3b3b3;
    font-size: 13px;
}

.offers-item .meta>div a:hover {
    color: #cccccc;
}

/************************
Counter Section CSS
***********************/
.counter-bg {
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.counter .counter-item .item {
    border: 2px dotted #fff;
    padding: 5px;
    margin: 20px;
}

.counter .counter-item .counter-value {
    color: #f1f1f8;
    font-size: 3.5rem;
    font-weight: 700;
    vertical-align: middle;
}

.counter .counter-item .counter-info {
    margin-bottom: 0;
    color: #fff;
    font-size: 19px;
    vertical-align: middle;
}

/************************
Page Heading CSS
***********************/

.page-heading {
    text-align: center;
    background-image: url('../img/pages.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0px 150px 0px;
    color: #fff;
}

.page-heading h1 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.page-heading span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    display: block;
}


/************************
Page Heading CSS
***********************/

.single-service-two {
    padding: 30px 20px 30px 100px;
    position: relative;
    height: 150px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
}

.service-icon-two {
    border-right: 1px solid #ddd;
    color: #1b9ce3;
    font-size: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 80px;
}

.single-service-two h4 {
    font-size: 19px;
}

.single-service-two p {
    font-size: 14px;
}

.single-service-two:hover {
    background: #1b9ce3 none repeat scroll 0 0;
    color: #fff;
}

.single-service-two:hover .service-icon-two,
.single-service-two:hover h4 {
    color: inherit;
}

.single-service-section {
    padding-top: 40px;
    padding-bottom: 50px;
}

.single-services {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 27px -16px rgba(0, 0, 0, 0.75);
    width: 100%;
    background-color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single-services h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.single-services .text {
    padding: 30px;
}

.single-services img {
    background-size: cover;
    width: 100%;
    background-position: center;
}



/************************
Contact Section CSS
***********************/

.contact-section {
    padding-top: 75px;
    padding-bottom: 80px;
}

.contact-title {
    margin-bottom: 30px;
}

.contact-title h4 {
    color: #252525;
    font-weight: 700;
    margin-bottom: 16px;
}

.contact-widget .cw-item {
    background: #ffffff;
    margin-bottom: 11px;
    -webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;
    box-shadow: 0px 8px 35px 10px #E8E8E8;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.contact-widget .cw-item .ci-icon {
    float: left;
    margin-top: 12px;
}

.contact-widget .cw-item .ci-icon i {
    font-size: 30px;

}

.contact-widget .cw-item .ci-text {
    display: table;
    padding-left: 30px;
}

.contact-widget .cw-item .ci-text span {
    color: #b2b2b2;
    font-size: 16px;
}

.contact-widget .cw-item .ci-text p {
    font-size: 18px;
    color: #252525;
    margin-bottom: 0;
}

/************************
Team Section CSS
***********************/
.team {
    background: #fff;
    padding: 40px 0;
}

.team .member {
    border: 2px dotted #0275d8;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #353535;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: #0275d8;
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.team .member .social a:hover {
    background: #0275d8;
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 25px 15px;
    text-align: center;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #353535;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #0275d8;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
    bottom: 15px;
}


/************************
Single Page Section CSS
***********************/

.single-blog {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    overflow: hidden;
}

.blog-details {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    position: relative;
}
.blog-details p {
    font-size: 14px;
}
.blog-details h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.single-sidebar-widget {
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    margin-bottom: 50px;
    padding: 20px;
}

.single-sidebar-widget h4 {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.widget_search form {
    border: 1px solid #ddd;
    height: 40px;
    position: relative;
    width: 100%;
}

.widget_search form input {
    border: 0 none;
    height: 100%;
    left: 0;
    padding: 8px 40px 8px 8px;
    position: absolute;
    top: 0;
    width: 100%;
}

.widget_search form button {
    background: #0275d8 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
}
.widget_search form button:hover,
.tagcloud a{
    color: #000;
}
.widget_search form button:hover,
.tagcloud a:hover {
    color: #0275d8;
}

.widget_categories li {
    margin: 1px 0;
    position: relative;
    list-style: none;
    color: #fff;
}



.single-sidebar-widget li a {
    color: #000;
}

.single-sidebar-widget {
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    margin-bottom: 50px;
   
}

